<%=
form_with(
  model: pizza,
  data: {
    controller: "pizzas",
    pizzas_id_value: @pizza.id
  }
) do |form|
%>
  <% if pizza.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(pizza.errors.count, "error") %> prohibited this pizza from being saved:</h2>

      <ul>
        <% pizza.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <div class="form-fields">
      <%= form.label :name %>
      <%= form.text_field :name %>

      <div>
        <%= form.label :available_toppings %>
        <%=
          select_tag(
            :available_toppings,
            options_for_select(@toppings),
            {
              include_blank: "-- Select Topping --",
              data: {
                action: "change->pizzas#selectTopping"
              }
            }
          )
        %>
      </div>

      <div id="pizza-form-toppings-list">
        <%= form.label :toppings %>
        <% pizza.pizza_toppings.each do |pizza_topping| %>
          <div class="list-item"
               data-pizzas-target="listItem"
               data-topping-id="<%= pizza_topping.topping_id %>">
            <%= form.fields_for :pizza_toppings, pizza_topping do |pt| %>
              <%= pt.hidden_field :id %>
              <%= pt.hidden_field :topping_id %>

              <div class="list-item-line">
                <b>Name:</b>
                <%= text_field_tag(:_topping_name, pizza_topping.topping.name, readonly: true) %>
              </div>

              <div class="list-item-line">
                <b></b>
                <span class="undo-label">
                  <%= pt.check_box :_destroy %>
                  <b class="danger">Remove</b>
                </span>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="submit-button-wrapper">
      <%= form.submit %>
    </div>
  </div>
<% end %>
